.container{
    width: 30%;
    margin-left: 40% ;
}
.heading{
    font-size: 40px;
    text-align-last: left;
}
.form{
    background: linear-gradient(to left,  #ff3333, #ffad);
    border-radius: 10px;
    height: 450px;
    width: 420px;
    font-size: 20px;
    padding: 10px;
}
input{
    width: 94%;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
    margin: 5px;
    
}
button{
     width: 110px;
     height: 35px;
     margin: 40px;
     border-radius: 30px;
     background: linear-gradient(to right, #ff105f , #ffad06);
     border: 0;
     color: white;
     cursor: pointer;
}
